<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_NRA_Connection" connectionString="XpoProvider=MSSqlServer;data source=192.168.3.127;user id=sa;password=$3rv3r5q10621%;initial catalog=NRA;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>